<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ex</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css' integrity='sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==' crossorigin='anonymous'/>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    
    <div class="container text-center" id="main">
        <div>
            <div class="row align-items-center">
                <div class="col-10">
                    <input class="w-100 my-2 form-control" type="text" placeholder="Inserisci il tuo nome" v-model="inputName">
                    <input class="w-100 form-control" type="text"placeholder="Inserisci il tuo cognome" v-model="inputSurname">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary mt-3" @click="generateName">Genera Nome</button>
                </div>
            </div>
            
            
            <h1 :class="messageStyle">{{name}}</h1>
        </div>
        <div class="d-flex flex-column">
            <button class="btn btn-primary my-3 align-self-center" @click="generateImage">Genera Immagine</button>
            <img class="rounded" :src="randomImage" alt="">
        </div>
        
    </div>
    <script src="js/main.js"></script>
</body>
</html>